<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>


<body>
    <h1>Welcome to the Application</h1>

    <h2>Sections:</h2>
    <ul>
        <li><a th:href="@{/employes}">Employe Section</a></li>
        <li><a th:href="@{/machines}">Machine Section</a></li>
        <li> <a th:href="@{/machines/machinesByEmploye(employeId=1)}">machines by employe</a></li>

    </ul>
</body>

</html>
